<h2>Available drones</h2>

<a href="/drones/create">Create a New Drone</a>
<hr>

{{#each drones}}
    <h2>{{name}}</h2>
    <p>Propellers: {{propellers}}</p>
    <p>Max Speed: {{maxSpeed}}</p>
    <a href="/drones/{{_id}}/edit">Update</a><br/><br/>
    <form action="/drones/{{_id}}/delete" method="POST">
        <button>Delete</button>
    </form>
    <hr>
{{/each}}